input {
  border: none;
  width: 80px;
  font-size: 14px;
}

input:hover {
  background-color: #eee;
}

input:focus {
  background-color: #ccf;
}

input:not(:focus) {
  text-align: right;
}

table {
  border-collapse: collapse;
}

td {
  border: 1px solid #999;
}

.columnCSS {
  border: 1px solid rgb(24, 22, 22);
  background-color: #ccc;
}

.indexStart {
  background-color: #ccc;
  font-weight: bold;
}

.baseIndex {
  background-color: #ccc;
  font-weight: bold;
  text-align: center;
  border: 1px solid rgb(24, 22, 22);
}
